* {
  box-sizing: border-box;
}

.App--dark, .App--ligth {
  position: absolute;
  text-align: center;
  width: 100%;
}

.App--dark {
  background-color: #1E1C1C;
  background-size: cover;
  color:white;
  /* height: 100%; */
}

